<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charest=utf-8">
		<title>首页</title>
		<load href="__PUBLIC__/Css/basic.css"/>
		<load href="__PUBLIC__/Css/first.css"/>
		<load href="__PUBLIC__/Js/jquery.js"/>
	</head>
	<body>
		<div id='oo'>
			<form action='__URL__/add' method='post'>
				<div id='one'>
				</br></br</br></br></br></br</br></br></br></br</br></br></br></br</br></br></br></br</br></br></br></br</br></br>
				<font color='white'>院&nbsp&nbsp&nbsp&nbsp系：<input type='text' name='college'/><br/>
				<font color='white'>学&nbsp&nbsp&nbsp&nbsp号：<input type='text' name='snum'/><br/>
				<font color='white'>姓&nbsp&nbsp&nbsp&nbsp名：<input type='text' name='sname'/><br/>
				<font color='white'>联系方式：<input type='text' name='pnum'/><br/>
				</div>
				<div id='ff'>
				<td><input type='submit' value='去答题'/></td>
				</div>
				<div id='dd'>
				</div>
			</form>
			
			
	</div>
	</body>
	</html>


   <!--  <!doctype html>  
      
    <html>  
      
    <head>  
      
    <meta charset="utf-8">  
      
    <title>手机网站首页</title>  
    	<load href="__PUBLIC__/Css/basic.css"/>
		<load href="__PUBLIC__/Css/Home/first.css"/>
		<load href="__PUBLIC__/Js/jquery.js"/>
      
    <meta name="keywords" content="" />  
      
    <meta name="description" content="" />  
      
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  
      
    <meta name="format-detection" content="telephone=no" />  
      
    <meta name="apple-mobile-web-app-capable" content="yes" />  
      
    <meta name="apple-mobile-web-app-status-bar-style" content="black">  
      
    <meta name="author" content="duanliang, duanliang920.com" />  
      
    <style>  
      
        body{font-size:62.5%;font-family:"Microsoft YaHei",Arial; overflow-x:hidden; overflow-y:auto;}   
      
        .viewport{ max-width:640px; min-width:300px; margin:0 auto;}   
      
    </style>  
      
     </head>  
      
        
      
    <body>  
      
        <div id='oo'>  
      	<div id='on'>
      		XXX
      	</div>
      	<div id='one'>
            <form action='__URL__/add' method='post'>
			
			院&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp系<input type='text' name='college'/><br/>
			学&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp号<input type='text' name='snum'/><br/>
			姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名<input type='text' name='sname'/><br/>
			联系方式<input type='text' name='pnum'/><br/>
			<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type='submit' value='去答题'/></td>
			
		</form>
      </div>
        </div>  
      
    </body>  
      
    </html>  
 -->
